/* Header Styles */
.indexTitle{
  display: block;
  width: 100%;
  text-align: center;
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 2px;
  color: #ff8800;
  padding: 1rem 0;
  background-color: transparent; 
}

/* Main Styles */
.indexMain {
   background: rgba(245,245,245, 1);
   flex: 1;
   border-top: 5px solid #ff8800;
   border-bottom: 5px solid #ff8800;
}
}
.homeBtn {
  display: inline-block;
  background-color: #ff8800;
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.homeBtn:hover {
  background-color: #ffae42;
}
