/* Basic Styles */
* {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}

/* Header Styles: */
header {
   background: rgba(54, 54, 54, 1);
   color: #fff;
   display:flex;
}

/* Main Styles */
.main {
   background: rgba(245,245,245, 1);
   flex: 1;
}

/* Footer Styles: */
.main-footer {
   background: rgba(54, 54, 54, 1);
   color: #fff;
}

.bottom-footer {
   background: rgba(54, 54, 54, 1);
   color: #fff;
}
