/* Basic Styles */
* {
   margin: 0;
   padding: 0;
}

body {
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   font-family: 'Bebas Neue', sans-serif; 
}


/* Header Styles: */
header {
   background: rgba(54, 54, 54, 1);
   color: #fff;
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   padding-left: 30px;
   padding-right: 30px;
   padding-bottom: 100px;
}

header h1 {
   color: #ff7202;
}

.mainNav {
  display: flex;
  justify-content: center;
  gap: 2rem; /* space between links */
  background: rgba(54, 54, 54, 1);
  padding: 0.75rem 0;
}

.mainNav a {
  font-family: 'Bebas Neue', sans-serif;
  text-transform: uppercase;
  color: #ff6600;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.navActive {
  color: white;
  text-shadow: 0 0 5px #ff8800;
}

.mainNav a:hover {
  color: #ffffff;
}


/* Main Styles */
.main {
   background: rgba(245,245,245, 1);
   flex: 1;
}


/* Footer Styles: */
.main-footer {
   background: rgba(54, 54, 54, 1);
   color: #fff;
   padding: 20px;
   display: flex;
   justify-content: space-between;
}

.main-footer h1 {
   color: #ff7202;
}

.main-footer h2 {
   color: #ffffff;
}

.footerNav a {
  display: block;             /* each link on its own line */
  color: #ffffff;             /* your accent color */
  text-decoration: none;      /* remove underline */
  margin: 0.3rem 0;           /* spacing between links */
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1rem;
  transition: color 0.3s;
}

.right-footer a {
  color: #ffffff;           /* your accent orange */
  text-decoration: none;     /* remove underline */
  transition: color 0.3s;
}

.left-footer p,
.center-footer a,
.center-footer p,
.right-footer p,
.right-footer a {
  margin: 0.3rem 0;   /* space between lines */
  line-height: 1.5;   /* optional: slightly taller line spacing */
}

.bottom-footer {
   background: rgba(54, 54, 54, 1);
   color: #fff;
   padding: 20px;
   text-align: center;
}

.bottom-footer a {
  color: #ffffff;           /* your accent orange */
  text-decoration: none;     /* remove underline */
  transition: color 0.3s;
}
